.tool-pane {
    background-color: #282c34;
    height: 100vh;
    flex-direction: column;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* padding-top: 5px; */
    border-bottom: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.document-pane {
    padding-left: 20px;
    border-radius: 25px;
}

.document-title {
    color: white;
    text-align: center;
    font-size: 4vh;
}

.circle {
    background-color: #461e69;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
}