.HomeScreen {
    background-color: #282c34;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: white;
}

.SearchBar {
    margin-top: 1%;
    height: 2%;
    min-width: 80%;
    margin-bottom: 5%;
}

.DocumentItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: blue;
    margin-bottom: 10px;
}

.DocumentPaper {
    background: black;
    font-size: 15px;
    padding: 10px;
}

.DocumentTitle {
    padding-left: 2%;
    padding-right: 2%;
}

.DocumentGrid {
    margin-top: 3%;
}